[submodule "components/switchbot-nimble-client"]
	path = components/switchbot-nimble-client
	url = https://github.com/ixsiid/switchbot-nimble-client.git
[submodule "components/WiFiManager"]
	path = components/WiFiManager
	url = https://github.com/ixsiid/WiFiManager.git
[submodule "components/esp-ECHONET-Lite"]
	path = components/esp-ECHONET-Lite
	url = https://github.com/ixsiid/esp-ECHONET-Lite.git
[submodule "components/simple_ws2812_rmt_esp-idf"]
	path = components/simple_ws2812_rmt_esp-idf
	url = https://github.com/ixsiid/simple_ws2812_rmt_esp-idf.git
