[submodule "components/switchbot-nimble-client"]
	path = components/switchbot-nimble-client
	url = https://github.com/ixsiid/switchbot-nimble-client.git
[submodule "components/WiFiManager"]
	path = components/WiFiManager
	url = https://github.com/ixsiid/WiFiManager.git
[submodule "components/M5GFX"]
	path = components/M5GFX
	url = https://github.com/m5stack/M5GFX.git
[submodule "components/esp-ECHONET-Lite"]
	path = components/esp-ECHONET-Lite
	url = https://github.com/ixsiid/esp-ECHONET-Lite.git
[submodule "components/simple-nimble-central"]
	path = components/simple-nimble-central
	url = https://github.com/ixsiid/simple-nimble-central.git
